.pile {
    position: relative;
    width: 130px;
    height: 200px;
}

.pile-card {
    position: absolute;
    background-color: transparent;
    border: none;
}

.pile-card-clickable {
    transition: scale 0.2s ease-in-out;
}

.pile-card-clickable:hover, .pile-card-clickable:focus {
    scale: 1.05;
    cursor: pointer;
}

.draw-draw-stack {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}