.inventory {
    width: 130px;
}

.inventory-card {
    background-color: transparent;
    border: none;
    position: absolute;
    transform-origin: bottom center;
    transition: transform .5s ease-in-out, left .5s ease-in-out, top .5s ease-in-out;
}

.inventory-card .card {
    transition: 0.1s ease-in-out;
}

.inventory-card:focus .card, .inventory-card:hover .card {
    transform: translateY(-50px) scale(1.05);
    cursor: pointer;
}

.inventory-disabled {
    opacity: 0.5;
    pointer-events: none;
}