.room-settings {
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.room-settings-info h1 {
    color: var(--primary-color);
}

.room-settings-info {
    margin-bottom: 20px;
    position: relative;
}

.room-settings-info p {
    color: gray;
    font-size: 13px;
}

.room-settings-contents {
    overflow-y: auto;
    overflow-x: visible;
    min-height: 0px;
    flex-grow: 1;
}

.room-settings-item-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.room-settings-close-button {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: transparent;
    color: var(--negative-color);
    border: none;
    font-size: 25px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open-card-deck-button-container {
    max-width: 100%;
    overflow: hidden;
}

.open-card-deck-button-container button {
    width: 100%;
}

@media only screen and (min-width: 769px) {
    .room-settings-close-button {
        display: none;
    }
    .room-settings {
        left: 20px;
        top: 20px;
        width: 300px;
    }
}

@media only screen and (max-width: 768px) {
    .room-settings {
        left: 5%;
        width: 90%;
        bottom: 120px;
        max-height: 80%;
    }
}

.open-card-deck-button {
    padding: 10px;
    font-size: 20px;
}

.card-deck-edit-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 90%;
    width: 90%;
    height: 90%;
    overflow-y: hidden;
}