.opponent-inventory-list {
    overflow-x: auto;
    display: flex;
    padding-left: 0;
    gap: 15px;
    padding-inline: 10px;
}

.oponent-inventory-container {
    display: inline-block;
}

@media only screen and (min-width: 769px) {
    .opponent-inventory-list {
        gap: 100px;
        padding-inline: 60px;
    }
}