.card {
    position: relative;
    width: 130px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 7px solid white;
    font-size: 70px;
    box-shadow: 0px 0px 10px black;
    overflow: hidden;
    color: white;
}
.front, .back {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back {
    font-size: 40px;
    background: linear-gradient(to right, rgb(79, 0, 99), rgb(13, 0, 20));
}
.back * {
    rotate: 305deg;
}
.top, .bottom {
    position: absolute;
    font-size: 35px;
}
.top {
    top: -5px;
    left: 5px;
}
.bottom {
    bottom: -5px;
    right: 5px;
    rotate: 180deg;
}