.round {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    overflow: hidden;
}

.inventory-container {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.opponent-inventory-list-container {
    position: fixed;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    display: flex;
    justify-content: center;
}

.round-controls-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.color-picker-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}