:root {
  --background-color: rgb(27, 27, 27);
  --dark-color: #0f0f0f;
  --primary-color: #4538ff;
  --negative-color: #ff3838;
  --positive-color: #14c343;

  --card-red: #b02525;
  --card-blue: #2323db;
  --card-green: #32ba4d;
  --card-yellow: #fcb103;
}

#root {
  width: 100%;
  height: 100%;
}